footer
	.info-container
		span Copyright © CoronaGuide.com - All rights reserved.
		.divider
	.link-container
		.column
			ul
				li
					a(href="https://www.sst.dk/da/corona") Sunhedsstyrelsen
				li
					a(href="https://www.who.int/health-topics/coronavirus") World Health Organization
				li
					a(href="https://politi.dk/coronavirus-i-danmark") Politi
		.column
			iframe(class="webbanner" src="webbanner/Coronasmitte.dk.html" style="width:320px;")
