.head-container
	img(src="images/logo_notext.png" alt="placeholder" class="logo")
	h1 Corona Guide
	span.catchphrase Vi hjælper dig med at passe på dig
	

nav
	a(href="index.html") Hvad er Coronavirus?
	a(href="forholdsregler.html") Forholdsregler
	a(href="hvordan.html") Hvordan smitter Coronavirus?
	a(href="status.html") Status & Opdateringer
