meta(charset="UTF-8")
meta(name="description" content="En guide til at hjælpe med viden omkring Coronavirus.")
meta(name="keywords" content="corona, coronavirus, covid-19, hjælp")
meta(name="author" content="Daniel Karangi & Christian Amdi Jensen")
meta(name="viewport" content="width=device-width, user-scalable=no")

link(rel="stylesheet", href="css/main.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Titillium+Web:wght@200;300;400;600;700&display=swap")
link(rel="icon" href="images/favicon.png")
